.body {
    width: 15%;
    background-color: #A3CBB6;
    border-radius: 10px;
    margin: 2% 0% 0% 3%;
    
    button {
        width: 100%;
        font-size: medium;
        border-radius: 10px;
        background-color: #195D39;
    }
}

.info {
    display: flex;
    div {
        margin: 5% 5% 5% 5%;
    }
    p {
        padding: 2px;
        font-size: small;
    }
}

.icon {
    margin: 8% 0% 0% 2%;
}