PORT= --- # server port
HOST= --- # server host

DB_NAME= --- # databse name
DB_USER= --- # your secret username
DB_PASSWORD= --- # your secret password
DB_HOST= --- # database host name
DB_PORT= --- # database port

ROOT_EMAIL= --- # root user email
ROOT_PASSWORD= --- # root user passoword

SALT_ROUNDS= --- # crypt salt rounds

JWT_SECRET= --- # jwt key

EMAIL_APP_USER= --- # odoya app email
EMAIL_APP_PASS= --- # odoya app password

CLOUDINARY_CLOUD_NAME= --- # cloudinary cloud name
CLOUDINARY_API_KEY= --- # cloudinary private api key
CLOUDINARY_API_SECRET= --- # cloudinary private api secret

NODE_ENV= --- # node environment