@media only screen and (max-width: 768px) {
    .container {
        h1 {
            font-size: x-large;
            position: relative;
            bottom: 20dvh;
        }

        .logoazul {
            width: 30%;
            position: relative;
            bottom: 12dvh;
        }

        .formProfile {
            width: 80%;
            position: relative;
            bottom: 16dvh;
        }

        .formButtons {
            margin: 15% 0 0 0;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 425px) {
    .container {
        h1 {
            position: relative;
            bottom: 30dvh;
        }

        .logoazul {
            width: 35%;
            position: relative;
            bottom: 17dvh;
        }

        .formProfile {
            position: relative;
            bottom: 25dvh;
        }

        .formButtons {
            position: relative;
            top: 5dvh;
            display: flex;
            flex-direction: column;
            gap: 50px;
            
            button {
                width: 50%;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .container {
        h1 {
            font-size: x-large;
            line-height: 1.5;
            position: relative;
            bottom: 35dvh;
        }

        .logoazul {
            width: 30%;
            position: relative;
            bottom: 18dvh;
        }

        .formProfile {
            position: relative;
            bottom: 35dvh;
            font-size: small;
        }

        .formButtons {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-bottom: -75%;

            button {
                width: 50%;
            }
        }

        .divPoints {
            .points {
                width: 95%;
            }

            display: flex;
            flex-direction: column;

            .pointsInfoIcon {
                position: relative;
                top: 1px;
            }
        }
    }
}

.container {
    margin-top: -4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B1E3FA;
    font-family: 'Abel', sans-serif;
    
    h1 {
        text-align: center;
        font-family: 'Tankindred', sans-serif;
    } 

    input {
        font-family: 'Abel', sans-serif;
        font-weight: bold;
    }
}



.formProfile {
    display: flex;
    flex-direction: column;
    width: 50%;
    label {
    margin: 2% 0% 0% 0%;
    font-size: 18px;
}
}

.divPoints {
    display: flex;
    gap: 10px;
}

.points {
    margin: 0% 0% 0% 2%;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 35%;
    height: 0%;
    border: none;
    border-radius: 3px;
    background-color: #6bbfed;
    color: black;
    font-size: medium;
    font-weight: bold;
}

.pointsInfo {
    display: flex;
    gap: 5px;
    margin-top: 1.5%;
    
    p {
        margin-top: -2%;
        color: black;
        font-size: medium;
    }
}

.separador {
    width: 100%;
    margin-top: 8%;
}



.formButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0% 5% 0%;
    gap: 5rem;
}

button {
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    border: none;
    border-radius: 30px;
    width: 20%;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #269BDF;
    color: white;
    cursor: pointer;
    transition: all ease-in-out  .2s
}

.buttonAlterar:hover {
    background-color: #207eb4;
}

.buttonCancelar {
    background: none;
    border-style: solid;
    border-width: 3px;
    border-color: #269BDF;
    color: black;
}

.buttonCancelar:hover {
    background-color: #90bbcf;
}

.buttonExcluirConta {
    background-color: #f84a4a;
}

.buttonExcluirConta:hover {
    background-color: #ad3333
}

.logoazul{
    margin-top:-10%;
    width: 390px;
    height: 390px;
    z-index:1
}
.logoLoad{
    margin-top: 10%;
    width: 201px;
    height: 156px;
    
}

.logoLoad2{
    margin-top: 10%;
    width: 201px;
    height: 156px;
    animation: rotacionar 1s linear infinite;
}


@keyframes rotacionar{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }