.container{
    width: 242px;
    height: 267px;
    // position: relative;
    background-color: #B1E3FA;
    border-radius: 10px;
    align-items: center;
    transition: transform 0.3s linear;

    .info{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 20px;

        .infoSpan{
            font-family: 'Abel', sans-serif;
            color: rgb(0, 0, 0);
            display: flex;
            gap: .6rem;
            align-items: center;
            text-decoration: none;
            font-size: 1.3rem;
            margin: 7.5px 0px;
        }
    }
    .infoPonto{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 20px;
        margin-top: 30px;
        .infoSpan{
            font-family: 'Abel', sans-serif;
            color: rgb(0, 0, 0);
            display: flex;
            gap: .6rem;
            align-items: center;
            text-decoration: none;
            font-size: 1.3rem;
            margin: 7.5px 0px;
            // .icon{
            //     color:#114C6D
            // }
        }
    }
    .icon{
        color:#114C6D;
        display: block;
        position: relative;
        font-size: 23px;
    }
    .iconCard{
        color:#114C6D;
        font-size: 90px;
        display:block;
        position:relative;
        left: 140px;
        bottom: 20px;
    }
}
.titulo{
    margin-top: 10%;
    margin-bottom: 3%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 550;
    font-family: 'Abel', sans-serif;
    color: rgb(0, 0, 0);

}
.ponto{
    text-align:start;
    margin-left: 20px;
}
.container:hover{
    cursor: pointer;
    transform: scale(1.05);
}

@media(max-width: 590px){
    .container{
        width: 170px;
        height: 187px;
        .info{
            margin-left: 10px;
    
            .infoSpan{
                gap: .6rem;
                font-size: 0.9rem;
                margin: 7.5px 0px;
            }
        }
        .infoPonto{
            margin-left: 10px;
            margin-top: 30px;
    
            .infoSpan{
                gap: .6rem;
                font-size: 0.9rem;
                margin: 7.5px 0px;
            }
        }
        .iconCard{
            font-size: 50px;
            left: 100px;
            bottom: 30px;
        }
    }
}