.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  background-color: var(--primary-color);
  height: 440px;

  @media (max-width: 950px) {
    flex-direction: column;
    height: auto;
    padding: 2rem;
  }
}

.infoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .titulo {
    font-size: 2rem;
    font-family: 'Tankindred', sans-serif;
    color: #fff;

    @media (max-width: 720px) {
      font-size: 1.4rem;
    }

    @media (max-width: 490px) {
      font-size: 1rem;
    }
  }

  .estrofe {
    font-size: 1.4rem;
    margin-top: 1rem;
    font-family: 'Abel', sans-serif;
    color: #fff;
    max-width: 45rem;

    @media (max-width: 950px) {
      max-width: 100%;
      font-size: 1.2rem;
    }

    @media (max-width: 720px) {
      font-size: 1rem;
    }

    @media (max-width: 490px) {
      font-size: 0.8rem;
    }
  }
}

.iconDiv {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 950px) {
    margin-top: 2rem;
  }

  .icon {
    font-size: 350px;
    transform: scaleX(-1);
    color: white;

    @media (max-width: 720px) {
      font-size: 250px;
    }

    @media (max-width: 580px) {
      font-size: 200px;
    }

    @media (max-width: 490px) {
      font-size: 150px;
    }
  }

  .iconQ {
    position: absolute;
    font-size: 120px;
    color: var(--primary-color);
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 720px) {
      font-size: 80px;
    }

    @media (max-width: 580px) {
      font-size: 60px;
    }

    @media (max-width: 490px) {
      font-size: 45px;
    }
  }
}
